p
{
    font-weight: bold;
}
img
{
    height: 750px;
    width: 750px;
}
body
{
    background-color: grey;
}
.card-body
{
    background-color: grey;
}
.change-color
{
    color: black;
    font-weight: bold;
}
.change-color:hover
{
    color:black;
}
.card
{
    background-color: darkgrey;
}
.color-change
{
    color: black;
    font-weight: bold;
}
.color-change:hover
{
    color: black;
}
.workout-area
{
    font-weight: bold;
    color: black;
}
.pump-club
{
    color: black;
    font-weight: bold;
}