p
{
    font-weight: bold;
}
img
{
    height: 750px;
    width: 750px;
}
body
{
    background-color: grey;
}
.card-body
{
    background-color: grey;
}
.change-color
{
    color: black;
    font-weight: bold;
}
.change-color:hover
{
    color:black;
}
.card
{
    background-color: darkgrey;
}
.color-change
{
    color: black;
    font-weight: bold;
}
.color-change:hover
{
    color: black;
}
.workout-area
{
    font-weight: bold;
    color: black;
}
.pump-club
{
    color: black;
    font-weight: bold;
}
.heart-workout
{
    color: black;
    font-weight: bold;
}
.sweat-studio
{
    color: black;
    font-weight: bold;
}
.restroom
{
    color: black;
    font-weight: bold;
}
.clean
{
    color: black;
    font-weight: 700;
}
#darker
{
    color: black;
    font-weight: 650;
}
.card-img-top
{
    border: 3px solid black;
}
.card-body
{
    border: 3px solid black;
}
.card-header
{
    border: 3px solid black;
}
.btn.btn-dark
{
    margin-top: 0.2rem;
    border: 3px solid black;
}
h1
{
    border: 3px solid black;
}
.mb-0
{
    color: black;
}
.card-title
{
    color: black;
}
.card-text
{
    color: black;
}
.h3
{
    color: black;
}
