th
{
    padding: 25px;
}
.card
{
    background-color: grey;
}
.Exercise-days
{
    color: black;
    font-weight: 650;
}
.exercises
{
    font-weight: 500;
    color: white;
    border: 4px solid black;    
}
.navbar-dark .navbar-nav .nav-link
{
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus
{
    color: white;
    background-color: transparent;
}
.dropdown-menu
{
    border: 1px solid black;
}
.dropdown-item:hover
{
    background-color: darkgrey;
    text-decoration: underline;
}
hr
{
    border-color: black;
    border-width: 4px;
}
.table-bordered th,
.table-bordered td
{
    border: 4px solid black;
    border-collapse: collapse;
}
footer
{
    color: black;
    font-weight: bold;
}
#introduction
{
    margin-right: auto;
    color: white;
}
body
{
    background-color: dimgrey;
}
.nav-item a[href="about.html"]:hover
{
    text-decoration: underline;
}
.nav-item a[href="contact.html"]:hover
{
    text-decoration: underline;
}
.btn.btn-dark
{
    text-align: end;
}
.card-img-top
{
    border: 4px solid black;
}
.card-body
{
    border: 4px solid black;
}
h1
{
    color: black;
}
input[type="text"]:focus
{
    outline: none;
    box-shadow: 0 0 0 2px white;
}
th[scope="col"]
{
    color: black;
}
.card-title
{
    color: black;
}